/* .box {
  background-color: rgb(84, 26, 26);
  box-shadow: -4px 55px 92px 64px rgba(100, 33, 33, 0.75);
  -webkit-box-shadow: -4px 55px 92px 64px rgba(100, 33, 33, 0.75);
  -moz-box-shadow: -4px 55px 92px 64px rgba(100, 33, 33, 0.75);
} */
